@model IEnumerable<aksesuarcim.Models.Products>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.union)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.criterion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.union)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.criterion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.product_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.product_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.product_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
