@model List<aksesuarcim.Models.Slider>






@* <section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        @{
            int i = 0;
            string klas = "";
        }
        @foreach (var item in Model)
        {
            if (i == 0)
            {
                klas = "active";
            }
            else
            {
                klas = " ";
            }
                
            <div class="slider-item @klas" style="background-image: url(Slider/0d3bb8b5-8f3d-4596-8dfb-d7251b3ef008.jpg)">
                 <div class="overlay"></div>
                 <div class="container">
                     <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-md-12 ftco-animate text-center">
                          <h1 class="mb-2">@item.Heeader1</h1>
                          <h2 class="subheading mb-4">@item.Heeader2</h2>
                          <p><a href="#" class="btn btn-primary">@item.Context</a></p>
                    </div>

                    </div>
                 </div>
            </div>
            i++;

        }
    </div>
</section>

<a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
    <div class="btn btn-dark" style="width: 45px; height: 45px;">
        <span class="carousel-control-prev-icon mb-n2"></span>
    </div>
</a>
<a class="carousel-control-next" href="#header-carousel" data-slide="next">
    <div class="btn btn-dark" style="width: 45px; height: 45px;">
        <span class="carousel-control-next-icon mb-n2"></span>
    </div>
</a>
 *@

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        @foreach(var item in Model)
        {
            
        
        <div class="slider-item" style="background-image: url(../../../Slider/@item.SliderImage);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 ftco-animate text-center">
                        <h1 class="mb-2">@item.Heeader1</h1>
                        <h2 class="subheading mb-4">@item.Heeader2</h2>
                        <p><a href="#" class="btn btn-primary">View Details</a></p>
                    </div>

                </div>
            </div>
        </div>
        }
        <div class="slider-item" style="background-image: url(images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 ftco-animate text-center">
                        <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>
                        <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
                        <p><a href="#" class="btn btn-primary">View Details</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>